body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success .MuiSnackbarContent-root {
  background-color: #87b94a;
  color: white;
}

.chrome-picker {
  box-shadow: none !important;
  border: 1px solid #d0cdcd;
  width: 50% !important;
  margin: auto;
}

.pentagen-icon {
  position: absolute;
  left: 10px;
  top: 6px;
  color: white;
}

.pentagen-container {
  height: 40px;
  margin: 10px 0;
  width: 45px;
  position: relative;
}

.pentagen-svg {
  height: 40px;
  position: absolute;
}